extends layout

block content

	h1.title #{user.FirstName} #{user.LastName}'s Feed
	.imageSpace
		//all of this is for testing layout
		.thumbContainer
			a(href='/testImages/1.jpg') 
				img(src='/testImages/1.jpg' width = 400)
			a.nameLabel(href='/feed/')
				p Kody Dillman
			p.timeLabel 2 mins ago
		.thumbContainer
			img(src='/testImages/2.jpg' width=400)
			p.nameLabel Kody Dillman
			p.timeLabel 2 mins ago
		br
		.thumbContainer
			img(src='/testImages/3.gif' width=400)
			p.nameLabel Kody Dillman
			p.timeLabel 2 mins ago
		.thumbContainer
			img(src='/testImages/4.jpg' width=400)
			p.nameLabel Kody Dillman
			p.timeLabel 2 mins ago
		br
		.thumbContainer
			img(src='/testImages/5.png' width=400)
			p.nameLabel Kody Dillman
			p.timeLabel 2 mins ago
		.thumbContainer
			img(src='/testImages/6.jpg' width=400)
			p.nameLabel Kody Dillman
			p.timeLabel 2 mins ago
		br
	//TODO: Add proper link.
	a.more(href="/feed/") More 
	br