doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.header
			if currentUser
				a.currentUser(href="/users/#{currentUser.id}") #{currentUser.Username}
			a(href='/') 
				img(src='/images/snapgramLogo.png')
			if authenticated
				a.logout(href="/sessions/end") Logout
		block content