doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //Should add a banner here
    if name
        a(href="/sessions/end") Logout
    block content