extends layout

block content
  if typeof error == 'string'
    h3#ErrorMessage Error: #{error}
  h1.title Log In
  p
  |   <p class = bodytext>Don't have an account? <a class = 'register' href = '/users/new'> Register </a>
  form(method='post', action='/sessions/create')
    p.bodytext
        label Username&nbsp
        input(type='text',name='username')
    p.bodytext
        label Password&nbsp 
        input(type='password', name='password')
    p
        input(type='submit', name='submit' value='Login')