extends layout

block content
  if typeof error == 'string'
    h3#ErrorMessage Error: #{error}
  h1 Log In
  p
  |   Don't have an account? 
  a(href="/users/new") Click here
  |   to register
  form(method='post', action='/sessions/create')
    p
        label Username
        input(type='text',name='username')
    p
        label Password 
        input(type='password', name='password')
    p
        input(type='submit', name='submit' value='Login')