extends layout

block content
  if typeof error == 'string'
    h3#ErrorMessage Error: #{error}
  h1.title Register
  form(method='post', action='/users/create')

    p.bodytext
        label Full Name&nbsp
        input(type='text', name='fullName')
    p.bodytext
        label Username&nbsp
        input(type='text',name='username')
    p.bodytext
        label Password&nbsp
        input(type='password', name='password')
    p
        input(type='submit', name='submit' value='Sign up')
