extends layout

block content

	h1.title #{user.FirstName} #{user.LastName}'s Stream 
	if following
		a.follow(href='/users/' + user.id + '/unfollow') Unfollow
	else
		a.follow(href='/users/'+user.id+'/follow') Follow
	.imageSpace
		//all of this is for testing layout
		.thumbContainer
			a(href='/testImages/1.jpg') 
				img(src='/testImages/1.jpg' width = 400)
			br
			.labelContainer
				a.share(href='/feed/') share
				br
				a.nameLabel(href='/feed/') Kody Dillman
				p.timeLabel 2 mins ago
		.thumbContainer
			img(src='/testImages/2.jpg' width=400)
			p.nameLabel Kody Dillman
			p.timeLabel 2 mins ago
		br
		.thumbContainer
			img(src='/testImages/3.gif' width=400)
			p.nameLabel Kody Dillman
			p.timeLabel 2 mins ago
		.thumbContainer
			img(src='/testImages/4.jpg' width=400)
			p.nameLabel Kody Dillman
			p.timeLabel 2 mins ago
		br
		.thumbContainer
			img(src='/testImages/5.png' width=400)
			p.nameLabel Kody Dillman
			p.timeLabel 2 mins ago
		.thumbContainer
			img(src='/testImages/6.jpg' width=400)
			p.nameLabel Kody Dillman
			p.timeLabel 2 mins ago
		br
	//TODO: Add proper link.
	a.more(href="/feed/") 
		p More 