body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(23, 127, 179);
}

h1.title {
	color: white;
	margin-left: 10px;
}

p.timeLabel {
  font-size: 12px;
  color: gray;
  margin-top: 0px;
  margin-bottom: 0px;
}

a.nameLabel:link, a.nameLabel:visited, a.nameLabel:hover, a.nameLabel:active {
	margin-bottom: 0px;
	text-decoration:none;
	color: black;
}

a.more{
	position: absolute;
	right: 0px;

	padding: 5px;
	margin: 10px;
	font-size: 24px;

	background-color: rgb(83, 185, 233); 
}

a.logout:link, a.logout:visited, a.logout:hover, a.logout:active {
  	position:absolute;
  	right:10px;
  	top: 80px;
  	font-size: 20px;

  	text-decoration:none;
	color:#FFFFFF;
}

a.more:link, a.more:visited, a.more:hover, a.more:active {
	text-decoration:none;
	color:#FFFFFF;
}

div.header {
	height: 107px; /* Same as logo image */
	background-color: rgb(83, 185, 233);
}

div.imageSpace {
	background-color: rgb(143, 216, 248);
	width: 880px;
	margin-left: auto;
	margin-right: auto;	
}

div.thumbContainer {
	background-color: white;
	box-shadow: 3px 3px 6px #888888;
	display:inline-block;
	margin-left: 20px;
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 5px;
}

#ErrorMessage {
	color: red;

	border-width: 2px;
	border: solid;
	border-color: red;
}